<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43625745033-7dfcm8cp1nqsbo0edt8nbu727292g0qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43625745033-7dfcm8cp1nqsbo0edt8nbu727292g0qm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43625745033-48k0qmt0ja70d2hlco58rkuq7crk7ra1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANuF563qe6EJWn31LKVtmPDTyYnNCw9Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>43625745033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3940256099942544~1458002511</string>
	<key>NSUserTrackingUsageDescription</key>
    <string>This identifier will be used to deliver personalized ads to you.</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventBuddyFinder</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-36df7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-36df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43625745033:ios:08fbee9b470fc716c3d458</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
